body{
  background-color: black;
  color: white;
  
  font-family: Arial;
  font-weight: bold;
  font-size: 40px;
}
.buttons{
  height: 120px;
  width:120px;
  border: 3px solid white;
  background-color:black;
  border-radius: 60px;
  color: white;
  font-weight: bold;
  padding-right:15px;
  padding-left:15px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 60px;
  cursor: pointer;
  margin: 10px;
}
